.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-bubble {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-heart {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-like {
  font-size:(52/10)*1rem;
  width:(52/52)*1em;
}
.icon-lock {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-news {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-pen {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-search {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-settings {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-sprite {
  font-size:(0/10)*1rem;
  width:(0/0)*1em;
}
.icon-user {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
